@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 font-serif flex-col bg-[#22274D];
}
body::-webkit-scrollbar{
    display: none;
}
header {
  @apply w-full flex justify-end items-center bg-[#363D6B]
    md:justify-end;
}
#searchEl {
  @apply m-[.8rem] w-6/12	h-[2.7rem] rounded-[3rem] p-4 text-2xl	
    md:w-80 
    lg:h-16;
}
#movieContainer {
  @apply w-[70%] my-8	mx-auto shadow relative overflow-hidden
    md:w-2/5	
    lg:m-[2.5rem] lg:w-1/5;
}
#moviePic {
  @apply w-full object-cover;
}
#movieTitle,
#vote_average {
  @apply text-[#eee] text-center;
}
#overviewContainer {
  @apply bg-[#eee] w-full max-h-full absolute overflow-auto left-0 bottom-0 right-0 translate-y-[105%] transition-transform duration-300 ease-in;
}
#movieContainer:hover #overviewContainer {
  @apply translate-y-[0%];
}
main {
  @apply relative
    md:flex flex-wrap
    lg:m-auto lg:justify-center;
}
#overviewTitle {
  @apply my-8 mx-[1.8rem] font-bold text-[1.8rem];
}
#overviewContent {
  @apply text-2xl	my-4 mx-[.8rem] leading-normal indent-10 overflow-auto;
}
#movieBottom {
  @apply flex items-center justify-between bg-[#363D6B];
}
#movieTitle {
  @apply ml-6;
}
#vote_average {
  @apply m-6 font-bold bg-[#282551] p-1.5;
}
